/* [class*="col"] {
  border: 1px solid red;
} */

/* Utilities */
.bg_black {
  background-color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.5px;
  line-height: 23px;
}

/* HEADER */
#high_header img {
width: 100px;
}

header li a > i {
  font-size: 13px;
  color: #999999;
}

header .btn-outline-success {
  background-color: #363636;
  color: white;
  border-radius: 20px;

}

header ul .dropdown-menu {
border: none;
}

header .arrow-down,
header .arrow-hover {
  width: 10px;
}

header .nav-link:hover .arrow-hover{
  display: inline-block!important;
}
header .nav-link:hover .arrow-down{
  display: none!important;
}

/* / HEADER */

/* MAIN */
#jumbo_tron {
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;  
}

#jumbo_tron .section_1 {
  padding-top: 230px;
}

#jumbo_tron button {
  /* background-color: #cd3d0f; */
  border: 1px solid #cd3d0f;
  font-size: 15px;
}

#jumbo_tron h1 {
  font-size: 40px;
}

#section-2 div .first-image {
  border: 2px solid #0d6efd;
}

#section-2 img {
  border-radius: 15px;
}

#section-3 h6 {
  color: #117bd1;
}

#section-3 h1 {
  font-size: 40px;
}

#section-3 p {
  font-size: 19px;
}

#section-3 button {
  /* background-color: #2d64e6; */
  font-size: 18px;
  border: none;

  font-size: 14px;
}

#section-3 .row:last-child img,
#section-3 .row:last-child p {
  filter: opacity(0.6);
}

#section-4 {
  background-color: #afafaf;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;  

  background-blend-mode: multiply;
}

#section-4 button {
  /* background-color: #cd3d0f; */
  border: 1px solid #cd3d0f;
}

#section-4 h1 {
  font-size: 40px;
}

#section-5 {
  background-color: #1f1f1f;
}

#section-5 img {
  border-radius: 15px;
}

#section-6 h1 {
  font-size: 40px;
}

#section-6 p {
  font-size: 19px;
}

#section-6 span {
  font-size: 25px;
  vertical-align: top;
}

#section-6 button {
  /* background-color: #2d64e6; */
  font-size: 18px;
  border: none;

  font-size: 14px;
}

#section-7 {
  background-color: #bebcbb;
}

#section-7 p {
  font-size: 14px;
}

#section-7 button {
  /* background-color: #d9dadc96; */
  color: #2d64e6;
  font-size: 15px;
  border: none;

}

#section-8 h1 {
  font-size: 40px;
}

#section-8 p {
  font-size: 20px;
}

#section-9 {
  background-color: #161c3b;
}

#section-9 p {
  font-size: 14px;
}

#section-9 button {
  background-color: #d9dadc;
  font-size: 18px;
  border: none;

  font-size: 14px;
}

#section-10 h1 {
  font-size: 33px;
}

footer {
  background-color: #00439c;
}

footer li,
footer p {
  font-size: 14px;
}

footer li {
  padding: 3px 0;
}
/* /MAIN */

/************Interaction **********/
header .nav-item:hover {
  display: inline-block !important;
}

/* Section 2 */
#section-2 .slide-top:hover,
#section-5 .slide-top:hover,
#section-10 .slide-top:hover {
	animation: slide-top 0.3s linear both;
  border: 2px solid #0d6efd;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes slide-top {
  0% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
#section-2 .slide-bottom,
#section-5 .slide-bottom,
#section-10 .slide-bottom:hover  {
	animation: slide-bottom 0.3s linear both;
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

/* Section 3 */
#section-3 .row:last-child div:hover  {
  border-bottom: 2px solid #0d6efd;
}
#section-3 .row:last-child div:hover img,
#section-3 .row:last-child div:hover p  {
  filter: opacity(1) !important;
}

/* Footer */
footer .text-shadow-drop-center:hover  {
  animation: text-shadow-drop-center 0.3s linear both;
}
@keyframes text-shadow-drop-center {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-2px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/* / Media Query */
@media screen and (max-width: 576px) {
}

@media screen and (min-width: 768px) {
  #section-3 .row:first-child {
    margin-bottom: 3rem;
  }
  #section-3 .row:nth-child(2) {
    margin-bottom: 4rem;
  }
  #section-3 .row:last-child p {
    font-size: 14.5px;
    text-align: center;
  }
  #section-3 .row:last-child img {
    transform: scale(0.7);
  }
  #section-3 .ps5-image {
    border-bottom: 2px solid #0d6efd;
  }
  #section-3 .ps5-image p {
    padding-bottom: 23px;
  }

  #section-6 .row:last-child p {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  #section-3 .row:nth-child(2)>div:first-child {
    margin-top: 80px;
  }
  #section-3 .row:last-child img {
    transform: scale(0.7);
  }

  #section-5 h1 {
    font-size: 30px;
  }
  #section-5 h3 {
    font-size: 25px;
  }

  }

@media screen and (min-width: 1200px) {
#jumbo_tron p {
  font-size: 15px;
}
#section-3 .row:nth-child(2) {
  margin-bottom: 0rem;
}

#section-3 .row:nth-child(2)>div:first-child {
  margin-top: 130px;
}
}