root: {
}

/* [class*="col"] {
  border: 1px solid red;
} */

/* Utilities */
.bg_black {
background-color: black;
}

/* content */

/* HEADER */
#high_header img {
width: 100px;
}

header li a > i {
  font-size: 13px;
  color: #999999;
}

header .btn-outline-success {
  background-color: #363636;
  color: white;
  border-radius: 20px;

}
/* / HEADER */

/* MAIN */
#jumbo_tron {
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;
  
}

#jumbo_tron .section_1 {
  padding-top: 200px;
}

#jumbo_tron button {
  background-color: #cd3d0f;
  border: 1px solid #cd3d0f;
}

#jumbo_tron h1 {
  font-size: 40px;
}

#section-1 img {
  border-radius: 15px;
}


/* / MAIN */

@media screen and (max-width: 576px) {
  
}