/* [class*="col"] {
  border: 1px solid red;
} */

/* Utilities */
.bg_black {
background-color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.5px;
  line-height: 23px;
}

/* content */

/* / Media Query */

@media screen and (max-width: 576px) {
  
}

@media screen and (min-width: 992px) {
  #section-3 .row:nth-child(2)>div:first-child {
    margin-top: 80px;
  }
  }

@media screen and (min-width: 1200px) {
#section-3 .row:nth-child(2)>div:first-child {
  margin-top: 130px;
}
}

/* HEADER */
#high_header img {
width: 100px;
}

header li a > i {
  font-size: 13px;
  color: #999999;
}

header .btn-outline-success {
  background-color: #363636;
  color: white;
  border-radius: 20px;

}
/* / HEADER */

/* MAIN */
#jumbo_tron {
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;  
}

#jumbo_tron .section_1 {
  padding-top: 200px;
}

#jumbo_tron button {
  background-color: #cd3d0f;
  border: 1px solid #cd3d0f;
}

#jumbo_tron h1 {
  font-size: 40px;
}

#section-2 img {
  border-radius: 15px;
}

#section-3 h6 {
  color: #117bd1;
}

#section-3 h1 {
  font-size: 40px;
}

#section-3 p {
  font-size: 17px;
}

#section-3 button {
  background-color: #2d64e6;
  font-size: 18px;
  border: none;

  font-size: 14px;
}

#section-3 .row:last-child  {
  filter: opacity(0.5);
}

#section-4 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;  
}

#section-4 button {
  background-color: #cd3d0f;
  border: 1px solid #cd3d0f;
}

#section-4 h1 {
  font-size: 40px;
}

#section-5 {
  background-color: #1f1f1f;
}

#section-5 img {
  border-radius: 15px;
}

#section-6 h1 {
  font-size: 40px;
}

#section-6 p {
  font-size: 18px;
}

#section-6 span {
  font-size: 25px;
  vertical-align: top;
}

#section-6 button {
  background-color: #2d64e6;
  font-size: 18px;
  border: none;

  font-size: 14px;
}

#section-7 {
  background-color: #bebcbb;
}

#section-7 p {
  font-size: 14px;
}

#section-7 button {
  background-color: #d9dadc;
  color: #2d64e6;
  font-size: 18px;
  border: none;

  font-size: 14px;
}

#section-8 h1 {
  font-size: 40px;
}

#section-8 p {
  font-size: 19px;
}

#section-9 {
  background-color: #161c3b;
}

#section-9 p {
  font-size: 14px;
}

#section-9 button {
  background-color: #d9dadc;
  font-size: 18px;
  border: none;

  font-size: 14px;
}

#section-10 h1 {
  font-size: 33px;
}